html body{
  height: 100%;
}

body {
color: #3c4247;
font-family: 'Elsie Swash Caps', cursive;
background-color: rgb(212, 154, 45);
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; 
  z-index: 1000; /* Sit on top */
  border-radius: 25px;
  padding-top: 23px; 
  /* Location of the box */
  left: 3px;
  top: 3%;
  width: 50%;
  max-width: 50%; /* Restrained to left div */
  min-height: 89%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
.modal-content {
  color: #3c4247;
  background-color: rgb(245, 227, 195);
  float: right;  
  margin-right: 3%;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 60%;
  overflow: auto;
  transform: translateY(1%);
  }

/* Modal Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*Modal Open button*/
#modBtn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3c4247;
  font-family: 'Elsie', cursive;
  font-weight: 400;
  font-size: large;
  background-color: #f6dc72;
  border: peru 1.5px solid;
  border-radius: 6px;
  padding: 7px 13px 7px 13px;
}

#modBtn:hover{
  background-color: #f6dc727c;
  color: peru;
  border:  solid 2px;
  font-family: 'Elsie Swash Caps', cursive;
  font-weight: 400;
  cursor: pointer;
}


/*Inner Modal Inputs*/
input {
  color: #6e5d62;
  font-family: 'Elsie', cursive;
  font-weight: 900;
  border-radius: 6px;
  background-color: #ddd7cf;
  border: solid 1.5px peru;
  line-height: 1.4;
  padding: 2px 0px 0 3px;
  margin-bottom: 14px;
}

input:hover {
  border: solid 1.5px #3c4247;
}

#modalreset {
  margin-top: 20px;
  margin-bottom: unset;
  width: 66px;
  padding: unset;
}

label {
  color: #3c4247;
  font-family: 'Elsie', cursive;
  font-weight: 400;
  font-size: 90%;
  line-height: 1.4;
  margin-left: 2.25px;
}
/*End Inner Modal*/

#leftScreenContainer {
  position: relative;
  float: left;
  height: 400px;
  width: 472px;
  margin-top: 33px;
  border-radius: 25px;
  padding: 10px 10px 10px 15px;
  background-color: wheat;
  justify-content: center
  }

#flexContainer {
  display: flex;
  flex-wrap: nowrap;
  background-color: peru;
  border-radius: 20px;
  border: none;
  width: 456px;
  height: 63%;
  padding: 5px;
  justify-content: space-evenly;
  align-items: center;
}

.innerDiv {
  margin: 10px;
  height: 175px;
  width: 33%;
  border-radius: 20px;
  border: transparent;
 }

 /*.innerDiv:hover {
   border-radius: 20px;
   border: #e4d5c2 solid 2.5px;  
 }*/

 .innerDiv .hoverText {
  visibility: hidden;
  width: 120px;
  color: #3c4247;
  /*top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);*/
  padding: 0 5px;
  opacity: 0;
  transition: opacity 1s;
 }

 .innerDiv:hover .hoverText {
  visibility: visible;
  opacity: 1;
}
/*Inv1 Button*/

.btnContainer1 {
  position: relative;
}

 #inv1Btn {
  display: block;
  height: 175px;
  width: 100%;
  border-radius: 20px;
  border: transparent;
}

.hoverText1  {
  position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0,0, 0.5);
    width: 120px;
    transition: .5s ease;
    opacity: 0;
    color: #e2e0dd;
    font-size: 20px;
    padding: 75px 5px;
    text-align: center;
    border-radius: 20px;
    border: #e4d5c2 solid 2.5px;  
  }

  .btnContainer1:hover .hoverText1 {
    opacity: 1;
    cursor: pointer;
  }
  

/*Inv2 Button*/

 .innerDiv #inv2Btn {
  height: 175px;
  width: 100%;
  border-radius: 20px;
  border: transparent;
}

.hoverText2  {
  position: absolute;
    top: 121px;
    left: 180px;
    background: rgba(0, 0,0, 0.5);
    width: 120px;
    transition: .5s ease;
    opacity: 0;
    color: #e2e0dd;
    font-size: 20px;
    padding: 63px 5px;
    text-align: center;
    border-radius: 20px;
    border: #e4d5c2 solid 2.5px;
  }

  .btnContainer2:hover .hoverText2 {
    opacity: 1;
    cursor: pointer;
  }

/*Inv3 Button*/

.innerDiv #inv3Btn{
  height: 175px;
  width: 100%;
  border-radius: 20px;
  border: transparent;
}

.hoverText3 {
  position: absolute;
  top: 120px;
  left: 332px;
  background: rgba(0, 0,0, 0.5);
  color: #e2e0dd;
  width: 120px;
  transition: .5s ease;
  opacity: 0;
  font-size: 20px;
  padding: 75px 5px;
  text-align: center;
  border-radius: 20px;
  border: #e4d5c2 solid 2.5px;
 }

.btnContainer3:hover .hoverText3 {
  opacity: 1;
  cursor: pointer;
}

/*Right of Screen*/
#rightScreenContainer {
    position: relative;
    float: right;
    width: 493px;
    height: 360px;
    margin-top: 60px;
    margin-bottom: 50px;
    border-style: none;
    border-radius: 25px;
    background-color: wheat;
    align-items: center;
    vertical-align: middle;
}

#prevBorder {
  position: absolute;
    border: #e4d5c2 solid 2px;
    border-radius: 25px;
    height: 334px;
    width: 465px;
    margin: 12px;  
}

#prevPara {
  position: absolute;
  line-height: 1.2;
  text-align: center;
  word-wrap: normal;
  font-size: 45px;
  font-weight: 900;
  top: 25%;
  display: none; /*remove*/
}

#inv1, #inv2, #inv3 {
  position: absolute;
  border-radius: 23px;
  /*display: none; remove*/
} 



#inv1Container {
  position: absolute;
  font-family: 'Elsie', cursive;
}


#inv1Inner {
  position: absolute;
  border-radius: 18px;
  background-color: #e4d5c2b7;
  margin: 20px;
  /* display: none; */
  width: 405px;
  height: 253px;
  padding: 20px 10px;
  line-height: normal;
}



/*invitation text*/
.invitePara {
  text-align: center;
  padding: 3px;
  margin: unset;
}

#ptnrAnd, #preTime {
  text-align: center;
  font-size: 10px;
}

#cele {
  text-align: center;
  font-size: initial;
}

#invPtrOne, #invPtrTwo {
  font-family: 'Oi', cursive;
  font-weight: 400;
  font-size: 95%;
  color: #3c4247;
  text-shadow: 1.5px 1.5px #fff;
}

h2 {
  text-align: center;
  font-weight: 900;
}